* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: var(--main-color);
}

#mobile-container {
  display: grid;
  grid-template-columns: 10fr 10fr;
  align-items: center;
  padding: 1.1rem;
}

.logo img {
  width: 2.5rem;
  margin-right: 1rem;
  vertical-align: bottom;
}

.logo a {
  font-size: 2.4rem;
  font-family: var(--font-header);
  font-weight: 300;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-toggler {
  justify-self: right;
  margin: 0 1.25rem 0 0;
}

.navbar-toggler div {
  width: 22px;
  height: 2px;
  background-color: white;
  margin: 0.5rem 0;
  transition: 0.4s;
}

.navbar-collapse {
  /* padding: 0.9rem 0 1.25rem 1.25rem; */
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.navbar-collapse li {
  padding: 0.8rem 0 0.8rem 0;
  display: block;
}

.navbar-collapse li a {
  text-decoration: none;
  color: #fff;
}

.navbar-collapse a.red-btn {
  text-decoration: none;
  padding: 0.6rem 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  background: #ec5d5e;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.showCollapse {
  max-height: 10rem;
  transition: 1s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.9rem, 0.6rem);
  transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.5rem, -0.5rem);
  transform: rotate(45deg) translate(-0.5rem, -0.5rem);
}

@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  #mobile-container {
    display: block;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    display: block;
    align-self: center;
    margin: 0 1.2rem 0 0;
  }

  .navbar-collapse li {
    display: inline-block;
    margin-right: 1rem;
  }

  .navbar-collapse li:last-of-type {
    margin-right: 0rem;
  }

  .logo a {
    font-size: 3.6rem;
  }
  .logo img {
    width: 3.5rem;
  }
}
