#reviews .mainContent {
  display: none;
}

#reviews .slideLines {
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
}

#reviews .slideLines .line {
  width: 6.5rem;
  border: 0.2rem solid #f8bd9e;
  margin: 0 1rem 0 1rem;
  transition: 0.1s;
}

#reviews .slideLines .line:hover,
#reviews .slideLines .active {
  border-color: var(--main-color);
}
