* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

#login,
#signup {
  background-color: var(--tertiary-color);
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #f0f1f2;
}

.red-btn {
  background-color: #dc3545;
  color: white;
  border-radius: 5px;
}

.form-heading {
  display: flex;
  justify-content: space-between;
}

.x-btn {
  font-size: 20px;
  width: 50px !important;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
}

/* LOGIN CONTAINER */

.login-form,
.signup-form,
#userProfileSettingsForm {
  display: grid;
  padding: 2rem 4rem;
  border: 1px solid var(--main-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.login-form input,
.signup-form input,
#userProfileSettingsForm input {
  display: grid;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  background: var(--white);
  border: 1px solid var(--main-color);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.login-form .form-btn,
.signup-form .form-btn,
#userProfileSettingsForm .form-btn {
  margin-top: 1rem;
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.back-btn {
  color: black;
  text-decoration: none;
  font-size: 80%;
  padding: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.form-h1 {
  font-family: var(--font-header);
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
  color: var(--main-color);
}

.login-helper {
  font-size: 1.2rem;
  padding-top: 1rem;
  text-decoration: none;
  color: var(--main-color);
}

.form-btn-secondary {
  border: none;
  margin-top: 10px;
  padding: 10px;
  font-weight: 400;
  background: #ffffff;
  border: 3px solid #ec5d5e;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #ec5d5e;
  width: 50%;
  height: 50px !important;
  justify-self: right;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

#userProfileSettingsForm .profile-settings-form-btns {
  display: flex;
}

#userProfileSettingsForm .profile-settings-form-btns .form-btn-secondary {
  margin-right: 10px;
}

#userProfileSettingsForm .profile-settings-form-btns .form-btn {
  margin-left: 10px;
}

#DeleteProfileBtn {
  cursor: pointer;
  color: #ec5d5e;
  margin: 10px 3px 5px 3px;
  background-color: transparent;
  text-align: left;
  border: none;
}

#userProfileSettingsForm .delete-helper {
  margin: 5px 3px 10px 3px;
}

#DeleteProfileModal {
  position: fixed;
  display: grid;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #f1f1f1;
}

#DeleteProfileModal.modal {
  visibility: hidden;
}

#DeleteProfileModal.show {
  visibility: visible;
}

#DeleteProfileModal .form-btn {
  border: none;
  margin-top: 10px;
  padding: 10px;
  font-weight: 400;
  background: #ec5d5e;
  border: 3px solid #ec5d5e;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  width: 50%;
  height: 50px !important;
  justify-self: right;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.profile-settings-form-btns {
  display: flex;
}

#DeleteProfileModal .profile-settings-form-btns {
  display: flex;
}

#DeleteProfileModal .profile-settings-form-btns .form-btn-secondary {
  margin-right: 10px;
}

#DeleteProfileModal .profile-settings-form-btns .form-btn {
  margin-left: 10px;
}

.modal-wrapper {
  max-width: 800px;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.modal-text {
  text-align: center;
}

/* Stlying disabled input fields on profile settings */

input:disabled {
  background-color: #f1f1f1 !important;
}

.change-btn {
  color: red;
  background-color: transparent;
  border: none;
  text-align: right;
  cursor: pointer;
}

#userProfileSettingsForm input {
  margin-bottom: 0 !important;
}
