<div class="courses-container">
  <div class="course">
    <img src="./pics/placeholder.jpg" alt="" />
    <div class="course-text">
      <h3>Overskrift</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </div>
    <div class="course-link">
      <a href="">Start learning</a>
    </div>
  </div>
  <div class="course">
    <img src="./pics/placeholder.jpg" alt="" />
    <div class="course-text">
      <h3>Overskrift</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </div>
    <div class="course-link">
      <a href="">Start learning</a>
    </div>
  </div>
  <div class="course">
    <img src="./pics/placeholder.jpg" alt="" />
    <div class="course-text">
      <h3>Overskrift</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </div>
    <div class="course-link">
      <a href="">Start learning</a>
    </div>
  </div>
  <div class="course">
    <img src="./pics/placeholder.jpg" alt="" />
    <div class="course-text">
      <h3>Overskrift</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </div>
    <div class="course-link">
      <a href="">Start learning</a>
    </div>
  </div>
  <div class="course">
    <img src="./pics/placeholder.jpg" alt="" />
    <div class="course-text">
      <h3>Overskrift</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </div>
    <div class="course-link">
      <a href="">Start learning</a>
    </div>
  </div>
  <div class="course">
    <img src="./pics/placeholder.jpg" alt="" />
    <div class="course-text">
      <h3>Overskrift</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore
      </p>
    </div>
    <div class="course-link">
      <a href="">Start learning</a>
    </div>
  </div>
</div>
