<footer>
  <div class="footer-container">
    <div class="logo">
      <a href="index.php"
        ><img src="./pics/lightbulb.png" alt="" />Learn<span class="emphasize"
          >DB</span
        ></a
      >
    </div>
    <div class="footer-box">
      <h3>Head office</h3>
      <a href="#">+45 12345678</a>
      <a href="#">email@email.dk</a>
      <a href="#">address 1 3330</a>
    </div>
    <div class="footer-box">
      <h3>Company</h3>
      <a href="#">Data privacy policy</a>
    </div>
    <div class="footer-box">
      <h3>Join our newsletter!</h3>
      <p>
        Subscribe to our marketing newsletter to get the latest tips and advice
        delivered to your inbox each month!
      </p>
      <div>
        <input type="text" placeholder="Your E-mail" />
        <button type="submit">Subscribe</button>
      </div>
    </div>
  </div>
</footer>
